[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
black = "*"
pandas = "*"
jupyter = "*"
notebook = "*"
abjad-ext-tonality = "*"
ipdb = "*"
graphviz = "*"
a953734 = {path = "./abjad"}
31186ac = {path = "./abjad-ext-ipython"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
